{% extends "base.html.twig" %}

{% block body %}
	<div class="container" style="margin-top: 10em;">
		<div class="card text-center shadow-sm">
			<div class="card-header text-uppercase">
				<h5 class="m-0">Society : {{ recruiter.company.name }}</h5>
			</div>
			<div class="card-body">
				<p class="card-text">Email : {{ recruiter.company.email }}</p>
            <p>Ville : {{ recruiter.company.city }}</p>
            <p>Téléphone : {{ recruiter.company.phone }}</p>
            <p class="text-secondary">{{ recruiter.company.description }}</p>
				<a href="{{ path('update_company', {id:recruiter.company.id}) }}" class="btn btn-outline-success">Update</a>
				<a href="{{ path('delete_company', {id:recruiter.company.id}) }}" class="btn btn-outline-danger">Delete</a>
			</div>
			<div class="card-footer text-muted">
         <p></p>
			</div>
		</div>
	</div>

{% endblock %}
