{% extends "base.html.twig" %}

{% block body %}
<div class="container" style="margin-top: 10rem;">
<h2 class="text-center">Company list</h2>
<a href="{{ path('admin_add_company') }}" class="btn btn-outline-warning"><i class="bi bi-plus-square"></i> Add 
</a>
{% if company is not empty %}
<table id="table"
   data-search="true"
   data-show-search-clear-button="true"
   class="table table-sm table-hover table-striped text-center shadow-sm mt-3">
   <thead>
      <tr>
         <th>#</th>
         <th>name</th>
         <th>city</th>
         <th>email</th>
         <th>phone</th>
         <th>description</th>
         <th>Update</th>
         <th>Delete</th>
      </tr>
   </thead>
   <tbody>
   {% for comp in company %}
      <tr>
         <td>{{ comp.id }}</td>
         <td>{{ comp.name }}</td>
         <td>{{ comp.city }}</td>
         <td>{{ comp.email }}</td>
         <td>{{ comp.phone }}</td>
         <td>{{ comp.description }}</td>
         <td><a href="{{ path('admin_update_company', {id:comp.id}) }}"><i class="bi bi-pencil-square text-success"></a></i></td>
         <td><a href="{{ path('delete_company', {id:comp.id}) }}"><i class="bi bi-trash text-danger"></i></a></td>
      </tr>
   {% endfor %}
   </tbody>
</table>
{% else %}
<h2>No advertisement at the moment</h2>
{% endif %}
</div>
<script>
   $(function() {
      $('#table').bootstrapTable()
   })
</script>
{% endblock %}