{% extends "base.html.twig" %}

{% block body %}
<div class="container" style="margin-top: 150px;">
{{form_start(form)}}
{{form_row(form.name)}}
{{form_row(form.firstName)}}
{{form_row(form.email)}}
{{form_row(form.city)}}
{{form_row(form.phone)}}
{{form_row(form.message)}}
<button type="submit" class="btn btn-outline-success">Apply</button>
{{form_end(form)}}
</div>


{% endblock %}